<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="User.Username" value="stashevir@mail.ru"/>
    <add key="User.Password" value="Pa$$w0rd"/>
    <add key="User.ErrorUsername" value="12345"/>
    <add key="User.ErrorPassword" value="12345"/>
  </appSettings>
</configuration>